.ultimas-unidades {
    background-color: rgba(209, 30, 30, 0.603) !important;
    color: white;
    width: 100%;
    left: 0px;
}

.card
 {
    background-color: #c4f8e3 !important;
    
}
.card-body {
    background-color: #c4f8e3;
}
.card-body  a{
    background-color: rgba(240, 248, 255, 0)!important;
}
.title-juguetes {
    width: 900px;
    height: 40px;
    border: 3px solid #c4f8e3!important;
    background: #c4f8e3;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
}

.more-info {
    background-color: #faa560!important;
    border-color: #faa560!important;
}

.medicamentos-container{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    justify-content: center;
    margin:auto;
}

.modal-body {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

}

.button-heart{
   background-color: red!important;
}

.spinner {
    width: 22rem;
    height: 20rem;
}

main {
    min-height: 100vh;
}