* {

    --navbar: #fbb67e;
    --verde: #c4f8e3;

}

@font-face {
    font-family: fuenteGordita;
    src: url(./fonts/bungee-v11-latin-regular.woff2);
  }

header{
    background-color: var(--navbar) !important;
    font-family: fuenteGordita;
}

.header-img-container{
    width: 135px;
}


body{
    /* background-color: var(--verde) !important; */
}
.carrito {
    transition: transform 0.15s ease-out;
}
.carrito:hover{
    transform: scale(1.2);
    transition: transform 0.15s ease-in;
    color: var(--verde);
}

.heart{
    transition: transform 0.15s ease-out;
}

.heart:hover{
    transform: scale(1.1);
    transition: transform 0.15s ease-in;
    color: var(--verde) ;
}

.dropdown:hover>.dropdown-menu{
    display: block;
    background-color: var(--navbar) !important;
}

.dropdown-item:hover{
    background-color: var(--verde) !important;

}

.nav-link:hover{
    transform: scale(1.1);
    transition: transform 0.15s ease-in;
    color: var(--verde) !important;
}

.form-control{
    height: 30px;
}

.btn:hover{
    background-color: var(--verde) !important;
    color: var(--verde) !important;
    border-color: var(--verde);
    transform: scale(1.1);
}


::placeholder{
    font-size: smaller;
    font-style: italic;
}

.header-size{
    height: 19vh;
}

.offcanvas-body{
    height: 0%;
}

.bg-img{
    background-image: url(./assets/footer.svg);
    background-repeat: no-repeat;
    background-position-x: 88%;
}

@media (max-width: 470px){
    .bg-img{
        background-image: url(./assets/footer.svg);
        background-repeat: no-repeat;
        background-position-x: 16%;
    }
}

.img-footer{
    width: 15vh;
}

.radio-img{
    border-radius: 6px;
    height: 44px;
    width: 70px;
    margin-bottom: 20px;
}

footer h5{
    font-family: fuenteGordita;
    font-size: medium;
}