*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.medicamentos-container{
    width: 90%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    justify-content: center;
    margin:auto;
}
.card{
    margin-top: 9vh;
    width: 19rem;
    height: 15rem;
    background-color: rgba(115, 247, 192, 0.82) !important;

}
#cantidad{
    width: 2.5rem;
    margin-left: 0.2rem;
    margin-bottom: 1rem;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.btn-info{
    background-color: #ff391f!important;
    border: none;
    color: white !important;
}
.btn-info:hover{
    background-color: red !important;
}
.btn-modal{
    margin-left: 2.5rem !important;
}
.btn-modal-dos{
    margin-left: 5.5rem !important;
}
.footer-modal-farmacia{
    display: flex;
    justify-content: space-evenly;
}
.farmacia-ultimos{
    background-color: rgb(255, 0, 13) !important;
    color: white;
    width: 100%;
    left: 0px;
}
.btn-hover:hover{
    background-color: red !important;
}
.btn-modal-dos-hover:hover{
    background-color: orangered !important;
}.btn-modal{
    margin-right: 1.5rem !important;
}
.farmacia-cards{
    min-height: 200px;
}
.modal-footer{
    display: flex !important;
    justify-content: space-evenly !important;
}
.carrito-offcanva{
    background-color: #f6f1eb;
}