@font-face {
    font-family: fuenteGordita;
    src: url(../fonts/bungee-v11-latin-regular.woff2);
}
@font-face {
    font-family: LexendDeca;
    src: url(../fonts/LexendDeca.ttf);
}
* {
    --navbar: #fbb67e;
    --verde: #c4f8e3;
}
body{
    background: url(../img/bg-paws2.jpg) !important;
}

/*--------------------------- Header ----------------------------*/
header{
    background-color: var(--navbar) !important;
    font-family: fuenteGordita !important;
}

.header-img-container{
    width: 135px;
}


/*--------------------------- Carrito ----------------------------*/

.carrito {
    transition: transform 0.15s ease-out;
}
.carrito:hover{
    transform: scale(1.2);
    transition: transform 0.15s ease-in;
    color: var(--verde) ;
}


.heart{
    transition: transform 0.15s ease-out;
}

.heart:hover{
    transform: scale(1.1);
    transition: transform 0.15s ease-in;
    color: var(--verde) ;
}

.dropdown:hover>.dropdown-menu{
    display: block;
    background-color: var(--navbar) !important;
}

.dropdown-item:hover{
    background-color: var(--verde) !important;

}

.nav-link:hover{
    transform: scale(1.1);
    transition: transform 0.15s ease-in;
    color: var(--verde) !important;
}

.form-control{
    height: 30px;
}

.container-input{
    width: 300px;
    vertical-align: middle;
    position: relative;
}

.container-input input#search{
    width: 300px;
    height: 30px;
    background: #ffffff;
    border: 2px solid rgb(42, 40, 40);
    padding-left: 45px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif !important;
}

 .container-input .icon{
    position: absolute;
    top: 20%;
    margin: -1px 16px;
    z-index: 1;
}

::placeholder{
    font-size: smaller;
    font-style: italic;
    font-family: LexendDeca;
}




.offcanvas-body{
    height: 0%;
}

.bg-img{
    background-image: url(../assets/footer.svg);
    background-repeat: no-repeat;
    background-position-x: 88%;
}

@media (max-width: 470px){
    .bg-img{
        background-image: url(../assets/footer.svg);
        background-repeat: no-repeat;
        background-position-x: 16%;
    }
}

/*------------------------- Barra de búsqueda -------------------------*/
.container-input{
    width: 300px;
    vertical-align: middle;
    position: relative;
}

.container-input input#busqueda{
    width: 300px;
    height: 30px;
    background: #ffffff;
    border: 2px solid rgb(42, 40, 40);
    padding-left: 45px;
    border-radius: 20px;
}

 .container-input .icon{
    position: absolute;
    top: 20%;
    margin: -1px 16px;
    z-index: 1;
}
input #search {
    font-family: LexendDeca !important;
}

/*-------------------------- Carrito -------------------------*/
.carrito-offcanva{
    background-color: #f6f1eb;
}
.button-carrito:hover{
    transform: scale(1.1);
}

.btn-compra-agrega{
    background-color: #fbb67e !important;
    border: 2px solid #fbb67e !important;
}

.btn-compra-agrega:hover{
    transform: scale(1.1);
    color: white !important;
}


/*---------------------- Footer -------------------------*/
.img-footer{
    width: 15vh;
    
}

.radio-img{
    border-radius: 6px;
    height: 44px;
    width: 70px;
    margin-bottom: 20px;
}

footer h5{
    font-family: fuenteGordita;
    font-size: medium;

}

.offcanvas-header{
    background-color: var(--navbar);
}


/*Rango precios*/
.rango-precios{
    background-color: rgba(255, 255, 255, 0.38);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
}

/*para quitar bordes de botones*/
.no-border {
    border: none!important;
  
}