main {
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ultimas-unidades {
    background-color: rgba(209, 30, 30, 0.603) !important;
    color: white;
    width: 100%;
    left: 0px;
}
.card
{
    background-color: #c4f8e3 !important;
}
.card-body {
    background-color: #c4f8e3;
}
.card-body  a{
    background-color: rgba(240, 248, 255, 0)!important;
}
.title-juguetes {
    width: 900px;
    height: 40px;
    border: 3px solid #c4f8e3!important;
    background: #c4f8e3;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
}

.more-info {
    background-color: #faa560!important;
    border-color: #faa560!important;
}

.medicamentos-container{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    justify-content: center;
    margin:auto;
}

.modal-body {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

}

.button-heart{
   background-color: red!important;
}

.spinner {
    width: 22rem;
    height: 20rem;
}


.medicamentos-container{
    width: 90%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    justify-content: center;
    margin:auto;
}
#cantidad{
    width: 2.5rem;
    margin-left: 0.2rem;
    margin-bottom: 1rem;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.btn-info{
    background-color: #ff391f!important;
    border: none;
    color: white !important;
}
.btn-info:hover{
    background-color: red !important;
}
.btn-modal{
    margin-left: 2.5rem !important;
}
.btn-modal-dos{
    margin-left: 5.5rem !important;
}
.footer-modal-farmacia{
    display: flex;
    justify-content: space-evenly;
}
.farmacia-ultimos{
    background-color: rgb(255, 0, 13) !important;
    color: white;
    width: 100%;
    left: 0px;
}
.btn-hover:hover{
    background-color: red !important;
}
.btn-modal-dos-hover:hover{
    background-color: orangered !important;
}
.btn-modal{
    margin-right: 1.5rem !important;
}
.farmacia-cards{
    min-height: 200px;
}
.modal-footer{
    display: flex !important;
    justify-content: space-evenly !important;
}
